@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto:wght@600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1B2C4D; 
    z-index: 1000;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo {
    height: 40px;
    width: auto;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.signup-button {
    background-color: rgba(36, 199, 235, 0.43); 
    color: #ffff; 
    border: none;
    text-decoration: none;
    border-radius: 83px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.signup-button a {
    text-decoration: none;
    color: white;
}

.signup-button:hover {
    transform: scale(1.1);
}

.login-button {
    background: none;
    border: none;
    color: #ffffff; 
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 100px;
}

.login-button:hover {
    color: #75b7e8;
    transform: scale(1.1);
}

/* Content section styles */
.content-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B2C4D;
    color: white;
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    position: relative;
}

.section-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.text-content {
    max-width: 960px;
    flex: 1; 
    text-align: left; 
    margin-left: 50px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

h1 .highlight {
    color: #24C7EB;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: normal;
}

.first-image {
    flex: 1;
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.first-image:hover {
    transform: scale(1.05);
}

.search-bar-image {
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.search-bar-image:hover {
    transform: scale(1.1);
}

.split-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.lock-image {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.right-images {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    justify-content: space-between;
    flex: 1;
}

.right-images img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-decoration: none;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card{
    width: 325px;
    background-color:rgba(36, 199, 235, 0.43);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin: 30px;
    justify-content: center;
    
}
.card img{
    width: 100%;
    height: auto;
    opacity: 90%;
    background-color: white;
}

.card-body{
    padding: 16px;
    text-align: center;
}

.card-body h5{
    font-family: serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 8px;
    margin-top: 0px;
}
.card-body p{
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 50;
    font-size: 15px;
    line-height: 1.3;
}
.card-body .btn2{
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 8px;
    color: var(--text-color);
    font-size: 15px;
    background-color: #3d4e6b;
    border-color: #24C7EB;
    
}
.card-body .btn2:hover{
    background-color: var(--main-color);
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #3A4B6A;
    color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.footer-logo {
    width: 150px;
    height: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links li {
    padding: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline; 
    color: #24C7EB;
}

/* Responsive design */
@media (max-width: 768px) {
    .content-section {
        padding: 30px 20px;
    }

    .section-content {
        flex-direction: column;
    }

    .text-content, .first-image {
        flex: none; 
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
    }

    .first-image {
        margin-top: 60px; 
        max-width: 70%;
    }

    h1 {
        font-size: 36px;
        padding-top: 40px;
        padding-left: 35px;
    }

    h2 {
        font-size: 36px;
        align-self: center;
    }

    p {
        font-size: 18px;
        padding-left: 35px;
        padding-top: 20px;
    }

    .split-section {
        flex-direction: column;
        align-items: center;
    }

    .search-bar-image {
        margin-top: 20px;
        max-width: 50%;
        align-self: center;
    }

    .right-images, .lock-image {
        width: 90%;
        margin-top: 10px;
        order: 0;
        margin-left: 40px;
    }

    .right-images img {
        width: auto;
    }

    .right-images {
        order: 2;
    }

    .lock-image {
        order: 3;
        width: 100%;
    }

    .course-cards {
        flex-direction: column;
        align-items: center;
    }

    .card.custom-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .card.custom-card p {
        padding-bottom: 50px;
    }
}
