/* Ensure the entire page has the background color */
body {
    background-color: #1B2C4D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Signup box styles */
.signup-box {
    background-color: #3A4B6A;
    border: 5px solid #24C7EB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 20px 0;
}

.signup-box h1 {
    color: #fff;
    margin-bottom: 20px;
}

.user-box {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.user-box input[type="text"],
.user-box input[type="email"],
.user-box input[type="password"] {
    width: calc(100% - 20px);
    padding: 3px;
    background: none;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 10px;
}

.user-box input::placeholder {
    color: #ccc;
}

.user-box .terms {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.user-box .terms input[type="checkbox"] {
    margin-right: 10px;
}

label a {
    color: #24C7EB;
    text-decoration: none;
    transition: color 0.3s;
}

label a:hover {
    text-decoration: underline;
    color: #1A9BCF;
}

button {
    background-color: #24C7EB;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1A9BCF;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .signup-box {
        padding: 20px;
        width: 90%;
    }

    .user-box input[type="text"],
    .user-box input[type="email"],
    .user-box input[type="password"] {
        width: calc(100% - 40px); /* Ensure there's padding inside the input */
        margin-left: 10px;
    }

    .user-box .terms {
        margin-left: 10px;
    }
}
