<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KaySecure</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/activation.css' %}">
</head>
<body>
  <div class="container">
    <h2>WELCOME TO KaySecure</h2>
    <p>Thank you for signing up on KaySecure. We have sent you a link via your email. Please click the link to activate your account.</p>
  </div>
</body>
</html>
