<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course_detail.css' %}">
</head>
<body>
<header>
    <img src="{% static 'images/logo.png' %}" alt="KaySecure Logo" class="logo">
    <div class="auth-buttons">
        <button class="signup-button"><a href="/signup">Signup</a></button>
        <a href="/login" class="login-button">Login</a>
    </div>
</header>
<main>
    <section class="course-details">
        <h1>{{ course.title }}</h1>
        <p>{{ course.description }}</p>
        <a class="start-learning-btn" href="{% url 'login' %}?next={% url 'course_content' course_id=course.id %}">Start Learning</a>
        <img src="{% static 'images/books.png' %}" alt="Learning Image" class="learning-image">
    </section>
</main>
<footer>
    <div class="footer-content">
        <img src="{% static 'images/logo.png' %}" alt="Company Logo" class="footer-logo">
        <p>&copy; 2024 Kayrabs Integrated Ventures Ltd. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/terms">Terms of Service</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
