<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaySecure Cybersecurity Training</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="KaySecure Logo" class="logo">
        <div class="auth-buttons">
            <button class="signup-button"><a href="/signup">Signup</a></button>
            <a href="/login" class="login-button">Login</a>
        </div>
    </header>
    <section id="section1" class="content-section">
        <div class="section-content">
            <div class="text-content">
                <h1>Empower Your <span class="highlight">Cybersecurity</span> Knowledge Today!</h1>
                <p> Enhance your knowledge, safeguard your data, and stay ahead of cyber threats. Join KaySecure for comprehensive cybersecurity awareness training designed for all skill levels. Start learning now and become a guardian of the digital realm!
                </p>
            </div>
            <img src="{% static 'images/home.png' %}" alt="Image Description" class="first-image">
        </div>
    </section>
    <section id="section2" class="content-section">
        <img src="{% static 'images/search.png' %}" alt="What is KaySecure?" class="search-bar-image">
        <div class="split-section">
            <img src="{% static 'images/lock.png' %}" alt="Lock Icon" class="lock-image">
            <div class="right-images">
                <img src="{% static 'images/pic11.png' %}" alt="Additional Image 1">
                <img src="{% static 'images/pic22.png' %}" alt="Additional Image 2">
            </div>
        </div>
    </section>
    <section id="section3" class="content-section">
        <h2>Featured Courses</h2>
        <div class="card-container">
            <div class="card">
                <img src="{%static 'images/Image 17.jpg' %}" height="350px">
                <div class="card-body">
                    <h5>Fundamentals of Cybersecurity</h5>
                    <p>This course is designed to provide a comprehensive introduction to the vital field of cybersecurity.</p>
                    <a href="/courses/1" class="btn2">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="{%static 'images/Image 15.jpg' %}" height="350px">
                <div class="card-body">
                    <h5>Data Privacy & Protection</h5>
                    <p>This course provides a comprehensive overview of data privacy principles and data protection techniques.</p>
                    <a href="/courses/2" class="btn2">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="{%static 'images/Image 16.jpg' %}" height="350px">
                <div class="card-body">
                    <h5>Advanced Threat Detection & Response</h5>
                    <p>This course provides a deep dive into the detection and management of advanced cyber threats.</p>
                    <a href="/courses/3" class="btn2">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<footer>
    <div class="footer-content">
        <img src="{% static 'images/logo.png' %}" alt="Company Logo" class="footer-logo">
        <p>&copy; 2024 Kayrabs Integrated Ventures Ltd. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/terms">Terms of Service</a></li>
        </ul>
    </div>
</footer>
</html>
